<a href="https://colab.research.google.com/github/Kyllien/DRIM-Game/blob/main/MatriceTransitionGood.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Connect to google drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
#Import data from os
import os
os.chdir("/content/gdrive/My Drive/DRIM")

In [4]:
#Librairie
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime

In [5]:
data = pd.read_csv('base_1.csv')

# print(np.unique(data['classe'])) #Aucun prob de classe

#rename the columns
data = data.rename(columns={"classe": "State", "dtf_per_trt": "Time", "ID_BCR_TRS": "ID"})
# Put Time in Date Forma
data["Time"]=pd.to_datetime(data["Time"])

In [ ]:
#Creation du Jeu Test
df = data.sample(10)
#df.to_csv('C:/Users/33640/source/repos/Kyllien/DRIM-Game/data_sample.csv')

#df = data.head(1000000)
df = df.sort_values(by=["ID","Time"])

In [22]:
df=data
df=df.sort_values(by=["Time"])
ID=np.unique(df["ID"])
df2=pd.DataFrame(ID,columns=["ID"])
compteur=0
for i in np.unique(df["Time"]):
  print(i)
  df3=df[df["Time"]==i]
  df3=df3[["ID","State"]]
  df3=df3.rename({'ID': 'ID', 'State': 'Date'+str(compteur)}, axis='columns')
  compteur=compteur+1
  df2=df2.merge(df3,on='ID',how='left')

2010-01-31T00:00:00.000000000
2010-02-28T00:00:00.000000000
2010-03-31T00:00:00.000000000
2010-04-30T00:00:00.000000000
2010-05-31T00:00:00.000000000
2010-06-30T00:00:00.000000000
2010-07-31T00:00:00.000000000
2010-08-31T00:00:00.000000000
2010-09-30T00:00:00.000000000
2010-10-31T00:00:00.000000000
2010-11-30T00:00:00.000000000
2010-12-31T00:00:00.000000000
2011-01-31T00:00:00.000000000
2011-02-28T00:00:00.000000000
2011-03-31T00:00:00.000000000
2011-04-30T00:00:00.000000000
2011-05-31T00:00:00.000000000
2011-06-30T00:00:00.000000000
2011-07-31T00:00:00.000000000
2011-08-31T00:00:00.000000000
2011-09-30T00:00:00.000000000
2011-10-31T00:00:00.000000000
2011-11-30T00:00:00.000000000
2011-12-31T00:00:00.000000000
2012-01-31T00:00:00.000000000
2012-02-29T00:00:00.000000000
2012-03-31T00:00:00.000000000
2012-04-30T00:00:00.000000000
2012-05-31T00:00:00.000000000
2012-06-30T00:00:00.000000000
2012-07-31T00:00:00.000000000
2012-08-31T00:00:00.000000000
2012-09-30T00:00:00.000000000
2012-10-31T00:00:00.000000000
2012-11-30T00:00:00.000000000
2012-12-31T00:00:00.000000000
2013-01-31T00:00:00.000000000
2013-02-28T00:00:00.000000000
2013-03-31T00:00:00.000000000
2013-04-30T00:00:00.000000000
2013-05-31T00:00:00.000000000
2013-06-30T00:00:00.000000000
2013-07-31T00:00:00.000000000
2013-08-31T00:00:00.000000000
2013-09-30T00:00:00.000000000
2013-10-31T00:00:00.000000000
2013-11-30T00:00:00.000000000
2013-12-31T00:00:00.000000000
2014-01-31T00:00:00.000000000
2014-02-28T00:00:00.000000000
2014-03-31T00:00:00.000000000
2014-04-30T00:00:00.000000000
2014-05-31T00:00:00.000000000
2014-06-30T00:00:00.000000000
2014-07-31T00:00:00.000000000
2014-08-31T00:00:00.000000000
2014-09-30T00:00:00.000000000
2014-10-31T00:00:00.000000000
2014-11-30T00:00:00.000000000
2014-12-31T00:00:00.000000000
2015-01-31T00:00:00.000000000
2015-02-28T00:00:00.000000000
2015-03-31T00:00:00.000000000
2015-04-30T00:00:00.000000000
2015-05-31T00:00:00.000000000
2015-06-30T00:00:00.000000000
2015-07-31T00:00:00.000000000
2015-08-31T00:00:00.000000000
2015-09-30T00:00:00.000000000
2015-10-31T00:00:00.000000000
2015-11-30T00:00:00.000000000
2015-12-31T00:00:00.000000000
2016-01-31T00:00:00.000000000
2016-02-29T00:00:00.000000000
2016-03-31T00:00:00.000000000
2016-04-30T00:00:00.000000000
2016-05-31T00:00:00.000000000
2016-06-30T00:00:00.000000000
2016-07-31T00:00:00.000000000
2016-08-31T00:00:00.000000000
2016-09-30T00:00:00.000000000
2016-10-31T00:00:00.000000000
2016-11-30T00:00:00.000000000
2016-12-31T00:00:00.000000000
2017-01-31T00:00:00.000000000
2017-02-28T00:00:00.000000000
2017-03-31T00:00:00.000000000
2017-04-30T00:00:00.000000000
2017-05-31T00:00:00.000000000
2017-06-30T00:00:00.000000000
2017-07-31T00:00:00.000000000
2017-08-31T00:00:00.000000000
2017-09-30T00:00:00.000000000
2017-10-31T00:00:00.000000000
2017-11-30T00:00:00.000000000
2017-12-31T00:00:00.000000000

In [104]:
#Creation Matrice PIT sans les NR(12)
PIT={}
for i in range(1,96):
  u=df2.columns[i]
  m=df2.columns[i+1]
  PIT[i]=pd.crosstab(df2[u],df2[m],normalize="index",dropna=True)
  for j in range(1,11):
    PIT[i].loc[11,j] = 0
  PIT[i].loc[11,11] = 1

In [27]:
#Creation matrice TTC sans les NR(12)
TTC=PIT[1]
for i in range(2,96):
  TTC=TTC+PIT[i]
TTC=TTC/len(PIT)
TTC

Date1      1.0       2.0       3.0   ...      9.0       10.0      11.0
Date0                                ...
1.0    0.970357  0.014852  0.011744  ...  0.000023  0.000003  0.000007
2.0    0.025838  0.959496  0.001567  ...  0.000085  0.000004  0.000010
3.0    0.004818  0.027760  0.955731  ...  0.000190  0.000101  0.000019
4.0    0.000060  0.013048  0.030364  ...  0.003089  0.000171  0.000073
5.0    0.000059  0.009819  0.008680  ...  0.004502  0.000228  0.000113
6.0    0.000074  0.000932  0.014678  ...  0.006834  0.002751  0.000269
7.0    0.000040  0.000950  0.002507  ...  0.022824  0.017997  0.001034
8.0    0.000040  0.000387  0.006037  ...  0.014491  0.060491  0.003540
9.0    0.000041  0.000682  0.001313  ...  0.707087  0.121018  0.018276
10.0   0.000007  0.000093  0.000543  ...  0.120083  0.492849  0.183415
11.0   0.000031  0.000124  0.000160  ...  0.005299  0.001550  0.985376

[11 rows x 11 columns]

In [30]:
#TTC Cumule sans les NR(12)
TTC_C = TTC
TTC[11][1]
for i in range(1,12):
  compteur=0
  for j in reversed(range(1,12)):
    compteur=TTC[j][i]+compteur
    TTC_C[j][i]=compteur
TTC_C

Date1  1.0       2.0       3.0   ...      9.0       10.0      11.0
Date0                            ...
1.0     1.0  0.029643  0.014791  ...  0.000033  0.000009  0.000007
2.0     1.0  0.974162  0.014665  ...  0.000100  0.000014  0.000010
3.0     1.0  0.995182  0.967422  ...  0.000310  0.000120  0.000019
4.0     1.0  0.999940  0.986892  ...  0.003333  0.000244  0.000073
5.0     1.0  0.999941  0.990122  ...  0.004842  0.000340  0.000113
6.0     1.0  0.999926  0.998994  ...  0.009854  0.003019  0.000269
7.0     1.0  0.999960  0.999010  ...  0.041855  0.019031  0.001034
8.0     1.0  0.999960  0.999573  ...  0.078522  0.064030  0.003540
9.0     1.0  0.999959  0.999277  ...  0.846381  0.139294  0.018276
10.0    1.0  0.999993  0.999899  ...  0.796347  0.676264  0.183415
11.0    1.0  0.999969  0.999845  ...  0.992225  0.986926  0.985376

[11 rows x 11 columns]

In [31]:
#Creation d'une classe pour les non rating : 12
df3=df2
df3=df3.fillna(12)

In [32]:
#Creation Matrice PIT avec les NR(12)
PIT_NR={}
for i in range(1,96):
  u=df3.columns[i]
  m=df3.columns[i+1]
  PIT_NR[i]=pd.crosstab(df3[u],df3[m],normalize="index")
  PIT_NR[i][11:][range(1,10)] = 0
  PIT_NR[i][11:][11] = 1
  for j in range(1,11):
    PIT_NR[i].loc[11,j] = 0
  PIT_NR[i].loc[11,11] = 1

In [33]:
#Creation matrice TTC avec les NR(12)
TTC_NR=PIT_NR[1]
for i in range(2,96):
  TTC_NR=TTC_NR+PIT_NR[i]
TTC_NR=TTC_NR/len(PIT_NR)
TTC_NR

Date1      1.0       2.0       3.0   ...      10.0      11.0      12.0
Date0                                ...
1.0    0.918037  0.014044  0.011101  ...  0.000002  0.000007  0.053935
2.0    0.025523  0.947654  0.001547  ...  0.000004  0.000010  0.012347
3.0    0.004771  0.027495  0.946670  ...  0.000100  0.000019  0.009486
4.0    0.000059  0.012926  0.030076  ...  0.000169  0.000072  0.009413
5.0    0.000059  0.009737  0.008609  ...  0.000226  0.000112  0.008261
6.0    0.000073  0.000923  0.014535  ...  0.002724  0.000266  0.009676
7.0    0.000040  0.000939  0.002479  ...  0.017797  0.001022  0.011334
8.0    0.000039  0.000383  0.005972  ...  0.059834  0.003499  0.010943
9.0    0.000040  0.000673  0.001296  ...  0.119445  0.018033  0.013092
10.0   0.000007  0.000092  0.000534  ...  0.484325  0.180260  0.017322
11.0   0.000030  0.000120  0.000155  ...  0.001497  0.954302  0.031549
12.0   0.006298  0.003350  0.001824  ...  0.000009  0.000012  0.986477

[12 rows x 12 columns]

In [ ]:
#Calcul des coefficient de correlation
dataDefaut = pd.read_excel("Taux.Defaut.xlsx")
dataDefaut

          Time  Taux_Defaut
0   2010-01-31     0.059661
1   2010-02-28     0.052415
2   2010-03-31     0.051614
3   2010-04-30     0.049995
4   2010-05-31     0.049792
..         ...          ...
115 2019-08-31     0.029779
116 2019-09-30     0.027923
117 2019-10-31     0.027948
118 2019-11-30     0.027663
119 2019-12-31     0.027384

[120 rows x 2 columns]

In [34]:
#TTC Cumule avec les NR(12)
TTC_NR_C = TTC_NR
TTC_NR[12][1]
for i in range(1,13):
  compteur=0
  for j in reversed(range(1,13)):
    compteur=TTC_NR[j][i]+compteur
    TTC_NR_C[j][i]=compteur
TTC_NR_C

Date1  1.0       2.0       3.0   ...      10.0      11.0      12.0
Date0                            ...
1.0     1.0  0.081963  0.067918  ...  0.053944  0.053942  0.053935
2.0     1.0  0.974477  0.026823  ...  0.012360  0.012357  0.012347
3.0     1.0  0.995229  0.967734  ...  0.009605  0.009505  0.009486
4.0     1.0  0.999941  0.987015  ...  0.009654  0.009485  0.009413
5.0     1.0  0.999941  0.990204  ...  0.008599  0.008373  0.008261
6.0     1.0  0.999927  0.999004  ...  0.012666  0.009943  0.009676
7.0     1.0  0.999960  0.999022  ...  0.030153  0.012356  0.011334
8.0     1.0  0.999961  0.999578  ...  0.074277  0.014443  0.010943
9.0     1.0  0.999960  0.999286  ...  0.150570  0.031125  0.013092
10.0    1.0  0.999993  0.999901  ...  0.681907  0.197582  0.017322
11.0    1.0  0.999970  0.999850  ...  0.987348  0.985851  0.031549
12.0    1.0  0.993702  0.990352  ...  0.986498  0.986488  0.986477

[12 rows x 12 columns]